@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

/* Utlility */
*{
    padding:0;
    margin:0;
}

body{
    background-color:antiquewhite;
    font-family: 'Ubuntu', sans-serif;
    color:white; 
}

.flex{
    display: flex;
    align-items: center;
}

/*header section*/
nav{
    background-color: black;
    height: 60px;
}
ul li{
    list-style-type: none;
    padding: 10px;
}


ul img{
    width: 45px;
    padding: 0 10px;
}
.brand{
    font-size: 1.2rem;
    font-weight: bolder;
    padding-right: 40px;
}

/*middle Section */
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin: 20px auto;
    width: 65%;
    flex-direction: column;
    padding: 40px;
    border: 2px solid black;
    background-image: url("/images/img1.jpg");
}


/* song list */
.songItemContainer{
    margin-top: 25px;
}
.songItem{
    height: 30px;
    display: flex;
    background-color: white;
    width: 50%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 28px;
    margin: 0 18px;
    border-radius: 250px;
}



.songlistplay i{
cursor: pointer;
margin: 0 15px;

}


/* bottom */
.bottom{
    background-color: black;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 95px;
    flex-direction: column;
    
}

.icons{
    margin-top:20px;
}

.icons i{
    cursor: pointer;
    margin: 5px;
}

#myProgressBar{
    width: 65vw;
    height: 5px;
    cursor: pointer;
}

.songInfo img{
    width: 5vw;
    position: absolute;
    left: 200px;
    bottom: 6px;
    /* opacity: 0; */
    transition: opacity 0.4s ease-in;
}

.songInfo span{
    position: absolute;
    left:285px;
    bottom: 25px;
}